.eachTextAnime span{
    font-size: 40px;
    position:absolute;
    right: -100px;
}
.eachTextAnime.appeartext span{animation:text_anime_on 1s ease-out forwards;}
@keyframes text_anime_on{
    0%{right: -100px;}
    100%{right: 1000px;}
}