.eachTextAnime p{
    float: left;
    font-size: 40px;
    position: relative;
    right: -1100px;
}
#Contact span{
    display: inline-block;
    width: 100%;
}

.eachTextAnime.appeartext p{
animation:text_anime_on 0.5s ease-out forwards;}
@keyframes text_anime_on{
    0%{right: -1100px;}
    100%{right: -30%;}
}