header{
    position: fixed;
    background-color: rgba(255,255,255,0.1);
    height: 100px;
    width: 100%;
}
body{
    background-color:#e2ebee;
}
footer{
    background-color: #162440;
    color: #ffffff;
    height: 200px;
    width: 100%;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-right: 20px;
}